Exploratory Data Analysis is to be done at the start of every Data Science Project. It Involves thoroughly examining and characterizing the data in order to find its underlying characteristics, possible anomalies and hidden patterns and relationships. This understanding of your data will guide you through your machine learning pipeline from data preprocessing to model building and analysis of results.

The Three main tasks of EDA:

1)Dataset overview and Descriptive Statisitcs

2)Feature assessment and visualization 

3)Data Quality Evaluation 

We are using Adult Census Income Dataset available on Kaggle.

Step 1: Data overview for better understanding of our data

In [5]:
import pandas as pd

adult_income = pd.read_csv('adult.csv')
adult_income.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [9]:
adult_income.shape #to find the no.of rows and columns

(32561, 15)

In [8]:
adult_income.dtypes #to find the datatypes for every columns

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [10]:
adult_income.duplicated()  #to check whether there is any duplicate

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Length: 32561, dtype: bool

In [11]:
adult_income.isna().sum() #missing values per feature

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [12]:
adult_income.isna().sum().sum() # number of missing cells

0

In [13]:
adult_income.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [14]:
adult_income.describe(include='object') #for non numeric values

,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
count,32561,32561,32561,32561,32561,32561,32561,32561,32561
unique,9,16,7,15,6,5,2,42,2
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,22696,10501,14976,4140,13193,27816,21790,29170,24720

In [15]:
cols = ['workclass','education','education.num','marital.status','occupation','relationship','race','sex','native.country','income']

for col in cols:
    categories = adult_income.groupby(col).size()
    print(categories)

workclass
?                    1836
Federal-gov           960
Local-gov            2093
Never-worked            7
Private             22696
Self-emp-inc         1116
Self-emp-not-inc     2541
State-gov            1298
Without-pay            14
dtype: int64
education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
dtype: int64
education.num
1        51
2       168
3       333
4       646
5       514
6       933
7      1175
8       433
9     10501
10     7291
11     1382
12     1067
13     5355
14     1723
15      576
16      413
dtype: int64
marital.status
Divorced                  4443
Married-AF-spouse           23
Married-civ-spouse       14976
Married-spouse-absent      418
Never-married            10683
Separated                 1025
Widowed                    993
dtype: int64
occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64
relationship
Husband           13193
Not-in-family      8305
Other-relative      981
Own-child          5068
Unmarried          3446
Wife               1568
dtype: int64
race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
dtype: int64
sex
Female    10771
Male      21790
dtype: int64
native.country
?                               583
Cambodia                         19
Canada                          121
China                            75
Columbia                         59
Cuba                             95
Dominican-Republic               70
Ecuador                          28
El-Salvador                     106
England                          90
France                           29
Germany                         137
Greece                           29
Guatemala                        64
Haiti                            44
Holand-Netherlands                1
Honduras                         13
Hong                             20
Hungary                          13
India                           100
Iran                             43
Ireland                          24
Italy                            73
Jamaica                          81
Japan                            62
Laos                             18
Mexico                          643
Nicaragua                        34
Outlying-US(Guam-USVI-etc)       14
Peru                             31
Philippines                     198
Poland                           60
Portugal                         37
Puerto-Rico                     114
Scotland                         12
South                            80
Taiwan                           51
Thailand                         18
Trinadad&Tobago                  19
United-States                 29170
Vietnam                          67
Yugoslavia                       16
dtype: int64
income
<=50K    24720
>50K      7841
dtype: int64

All of these EDA tasks and more can be done by a single line of code using ydata-profiling

In [18]:
from ydata_profiling import ProfileReport

In [19]:
#generate the report 
profile = ProfileReport(adult_income, title="Adult Census Profile")

#save the report to .html
profile.to_file("adult_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Step 2: Feature Assessment and visualization

So after having a look at the overall description od our Data, we are required to get into our dataset features a little more so that we can get insights on their individual properties which is called "Univariate Analysis" and their interactions and relationships with eachother called " Multivariate Analysis". Both of these tasks are accomplished by investigating adequate statisitcs and visualizations which are selected on the basis of the type of features and their behaviour we are interested to dissect.

UNIVARIATE ANALYSIS : This type of indiviual analysis is required to understand each feature to decide their relevance for the analysis and also the the type of data preparation which is required to achieve more optimal results

This will highlight the need of subsequent tasks of outliers removal, standardization, label encoding, data imputation, data augmentation and other type of preprocessing

Capital.gain analysis - on analysing capital.gain we found that 91.7% values are 0 and therefore we might question that if the feature adds any value to our analysis

Race analysis - On anlysing race we found that their is a underrepresentation of races other than white and this brings 2 main issues in mind:

1) The general tendency of machine learning algorithms is to ignore less represented concepts knowns as the problem of "small disjuncts" that leads to reduced learning performance

2) Since race is a sensitive feature, this overlooking tendency may have consequences directly relating to bias and fairness issue which we dont want in our models

Taking this into account we should consider performing data augmentation conditioned on the underrepresented categories and also considering fairness-aware metrics for model evaluation to check for any discrepanices in performance that relate to race values

Now, different features types require different statistics and visualization strategies:

Numeric features - best represented as histogram plots

Object features - best represented as bar plots which is a cumbersome process if done individually but ydata-profiling covers all this for us in a single line of code

MULTIVARIATE ANALYSIS: here we need to analyse the interaction and relationships between the features and anlysing their correlations

Analysing interactions : how the values of one feature relate to the values of another feature. Eg Analysing the interaction between age and hours per week to notice that most of the people do a standard 40hrs per week of work but some of the people between the ages of 30 and 45 work past 40 hours per week 

Analysing correlations : correlations is also like interaction that is to understand the relation between two features but this puts a value on that relation to also understand the strength of that relationship. This strength is measure by correlation coefficient which can be calculated numerically or by a heat map which uses color density as the measure.

On analysing the correlation for our dataset we see that there is a eye catchy correlation between sex and relationship which is not informative since if the sex is female the relationship would be wife and if male it would be husband thus there is a relation but these features are creating a redundancy and by understanding this redundancy using correlation we can remove some of these features. 

There are some other useful correlations also to analyse like for our dataset the corrleation between sex and occupation or sex and hours.per.week and also the correlation between income and all the other features is also very informative especially when if we are trying to map a classification problem.

Step 3 : Data Quality Evaluation

There are some complicating factors, the errors that may occur during the collection of processing or data intrinsic charactersitics that are simply a reflection of the nature of the data. This includes the missing data, imbalanced data, constant values, duplicates, highly correlated or redundant features, noisy data etc.

If these are not identified and addressed before the model building stage they can jeopardize the whole ML pipeline and the analyses and conclusions derived from it.

To automate this process of identifying and addressing these issues ydata-profiling feature is appreciated, it generates the data quality alerts.

The profile outputs atleast 5 different types of alerts: 
Duplicates, Zeros, High correlations, imbalance, missing.


CONCLUSION :

An efficient EDA lays the foundation of a successful machine learning pipeline.